<h1><%=@user.first_name.capitalize%>'s profile!</h1>
<p>Name: <%=@user.first_name%></p>
<p>Last name: <%= @user.last_name%></p>
<p>Description: <%= @user.description%></p>
<p>Photo:
 <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key%>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier"%>
            <% end %>
</p>
  <%= link_to "Back", :back , class: "card"%>
