    <div class="grid" data-search-demonstrations-target= "list">
      <% @demonstrations.each do |demonstration| %>
        <div class="card">
          <p><%= demonstration.title %></p>
          <p><%= demonstration.description %></p>
          <p><%= demonstration.start_time %></p>
          <p><%= demonstration.end_time %></p>
          <p><%= demonstration.location %></p>
          <p><%= demonstration.city %></p>
          <p><%= demonstration.country %></p>
          <p><%= demonstration.latitude %></p>
          <p><%= demonstration.longitude %></p>
          <p><%= demonstration.user_id %></p>
          <div class= "label_container">
          <%= link_to "see demo", demonstration_path(demonstration), class: "btn btn-secondary" %>
          <%demonstration.topics.each do |topic|%>
          <button class= "label_inactive <%=topic.color%>">
            <%= topic.name %>
          </button>
          <% end %>
          <%demonstration.types.each do |type|%>
          <button class= "label_inactive <%=type.color%>">
            <%= type.name %>
          </button>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
