<div class="grid" data-search-demonstrations-target= "list">
    <% @demonstrations.each do |demonstration| %>
      <%= link_to demonstration_path(demonstration) do%>
        <div class="container_new_demo">
          <div class="container_top_new_demo">
             <%if demonstration.title.length > 48%>
            <h1><%= demonstration.title.first(45) %>...</h1>
            <%else%>
            <h1><%= demonstration.title %></h1>
            <%end%>
            <div class="datetime">
              <div class="datestyle">
                <h5><%= demonstration.start_time.strftime("%b %e") %></h5>
                <p><%= demonstration.start_time.strftime("%H:%M")%></p>
              </div>
            </div>
          </div>
          <div class="location_new_demo">
            <p><%= demonstration.location %></p>
          </div>
          <div class= "labels_new_demo">
            <%demonstration.topics.each do |topic|%>
              <button class= "label_inactive <%=topic.color%>">
                <%= topic.name %>
              </button>
            <% end %>
            <%demonstration.types.each do |type|%>
              <button class= "label_inactive <%=type.color%>">
                <%= type.name %>
              </button>
            <% end %>
          </div>
        </div>
    <% end %>
  <% end %>
</div>
