    <div class="grid" data-search-demonstrations-target= "list">
      <% @demonstrations.each do |demonstration| %>
        <div class="container_new_demo">
          <h1><%=demonstration.title %></h1>
          <p><%= demonstration.location %></p>
          <p><%= demonstration.start_time %></p>
          <p><%= demonstration.end_time %></p>
          <div class= "label_container">
          <%= link_to "see demo", demonstration_path(demonstration), class: "btn btn-secondary" %>
          <%demonstration.topics.each do |topic|%>
          <button class= "label_inactive <%=topic.color%>">
            <%= topic.name %>
          </button>
          <% end %>
          <%demonstration.types.each do |type|%>
          <button class= "label_inactive <%=type.color%>">
            <%= type.name %>
          </button>
          <% end %>
          </div>
        </div>
      <% end %>
    </div>
