
<div class="container">
  <h2>Edit Demonstration</h2>
    <%= simple_form_for [@demonstration] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.association :types,   :as => :check_boxes%>
    <%= f.association :topics,   :as => :check_boxes%>
    <%= f.input :location %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.association :types %>
    <%= f.association :topics %>
    <%= f.input :extra_info%>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Save", class:"btn btn-primary " %>
  <% end %>
</div>
