<h1>Find a demonstration</h1>

<div class="wrapper" data-controller="search-demonstrations">

    <%= form_with url: demonstrations_path, method: :get, html: {class:
      "mb-4", data: {search_demonstrations_target: "form"}} do |f| %>
      <%= f.text_field :query,
                      class: "form-control",
                      placeholder: "Type a demonstration name",
                      value: params[:query],
                      data: {
                              search_demonstrations_target: "input",
                              action: "keyup->search-demonstrations#update"
                            } %>
      <% end %>
    <%= render "list_demonstrations", demonstrations: @demonstrations%>
  </div>

<div id="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

</div>
