<div class="container">
  <h2>Create a demonstration ✍️</h2>
    <%= simple_form_for [@demonstration], data: {controller: "datepicker"} do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :location %>
    <%= f.input :start_time,
            as: :string,
            input_html: { data: { datepicker_target: "startTime" } } %>
    <%= f.input :end_time,
                as: :string,
                input_html: { data: { datepicker_target: "endTime" } }  %>
    <%= f.association :types %>
    <%= f.association :topics%>
    <%= f.input :extra_info%>
    <%= f.input :photo, as: :file %>
    <%= f.button :submit, "Save", class:"btn btn-primary " %>
  <% end %>
</div>
