<h1> <%= @demonstration.title %></h1>
<div class ="label_container">
  <%= render "demonstrations/labels_for_show", demonstration: @demonstration%>
</div>

<% if @demonstration.bookmarks != [] %>
<div class="participate_show">
  <%= render "demonstrations/show_page_avatars", demonstration: @demonstration%>
   <%= link_to "More", demonstration_joined_path(@demonstration), class: "button_see_all"%>
</div>
<% end  %>

<%= render "demonstrations/main_button_demonstration", demonstration: @demonstration%>
<div class ="container-description">
  <%= @demonstration.description %>
</div>

<%= render "demonstrations/location_time_demo", demonstration: @demonstration%>
<% if @demonstration.user == User.find_by(email: "admin@gmail.com")%>
<div class="powered_by">
  <div class="powered_by_content">
  <%= image_tag "ChatGPT-logo.png", alt: "Open AI logo" %>
    <p>This content is powered by Open AI</p>
  </div>
  <div class="powered_by_content">
  <%= image_tag "Berliner_Polizei.svg", alt: "Police berlin logo" %>
    <p>This information comes from <a href="https://www.berlin.de/polizei/service/versammlungsbehoerde/versammlungen-aufzuege/" target="_blank">Polizei Berlin</a></p>
  </div>
</div>
<% end %>
<%= render "demonstrations/map_demo", markers: @markers%>

<%if current_user != nil%>
  <%if current_user.id == @demonstration.user.id%>

  <div class="delete-edit">
    <%= link_to demonstration_path(@demonstration),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
    <i class="fa-solid fa-trash"></i>
    <% end %>
    <%= link_to edit_demonstration_path(@demonstration) do %>
    <i class="fa-solid fa-pen"></i>
    <% end %>
  </div>




  <%# <div class = "mt-3">
    <%= link_to "Delete",demonstration_path(@demonstration), class: "primary_button_inactive", id: "delete_button",
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
      <%# <%= link_to "Edit", edit_demonstration_path(@demonstration), class: "primary_button_inactive"%>
  <%# </div> %>

  <%end%>
<%end%>
</div>
