<h1><%= @demonstration.title %> </h1>

<div class="container">
  <%= @demonstration.title %>
  <%# <%= link_to "Save Demonstration",   @demonstration.bookmarks %>
  <%= @demonstration.description %>
  <%# <%= @demonstration.topic %>
  <%# <%= @demonstration.type %>
</div>

<div class="container">
  <%= @demonstration.start_time.strftime("%A, %d %B %Y at %H:00")%>-<%= @demonstration.end_time.strftime("%H:00")%>
  <%= @demonstration.location %>
</div>

<div id="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%if current_user != nil%>
  <%if current_user.id == @demonstration.user.id%>
    <%= link_to "Delete",demonstration_path(@demonstration),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
    <%= link_to "Edit", edit_demonstration_path(@demonstration)%>
  <%end%>
<%end%>

<% if current_user != nil%>
  <%  unless Bookmark.find_by(user_id: current_user.id, demonstration_id: @demonstration.id)  %>
    <%= link_to "Join", demonstration_bookmarks_path(@demonstration), data: { turbo_method: :post} %>
    <% else  %>
      <% bookmark = Bookmark.find_by(user_id: current_user.id, demonstration_id: @demonstration.id) %>
      <%= link_to "Leave", bookmark_path(bookmark), data: { turbo_method: :delete}%>
    <% end %>
    <% else %>
      <%= link_to "Join", demonstration_bookmarks_path(@demonstration), data: { turbo_method: :post}, class: "button" %>
<%end%>
  <%= link_to "joined people", demonstration_joined_path(@demonstration)%>

<div class="user-avatars">
  <% @demonstration.users.limit(5).each do |user| %>
    <%= cl_image_tag user.photo.key %>
  <% end %>
</div>
<%# CREATE destroy -
if current user - bookmark controller create - .where has bookedmarked the demonstration - yes -> display
link delete for bookmark, false - display link 16- create (participate) %>
