 <%bookmarks.each do |bookmark|%>

    <%= link_to demonstration_path(bookmark.demonstration) do%>
      <div class = "container_joined_demo mt-4">
        <div class= "description_joined_demo">
          <div>
            <% if bookmark.demonstration.location.length > 48%>
              <h5 class = "word-break">
              <strong><%=bookmark.demonstration.location.first(48)%>...</strong>
              </h5>
            <%else%>
              <h5 class = "word-break">
              <strong><%= bookmark.demonstration.location%></strong>
              </h5>
            <%end%>
          </div>
          <div>
            <%if bookmark.demonstration.title.length > 48%>
            <p class = "word-break"><%=bookmark.demonstration.title.first(48)%>...</p>
            <%else%>
            <p class = "word-break"><%=bookmark.demonstration.title%></p>
            <%end%>
          </div>
        </div>
        <div class="datetime">
          <div class="datestyle">
            <h5><%= bookmark.demonstration.start_time.strftime("%b %e") %></h5>
            <p><%= bookmark.demonstration.start_time.strftime("%H:00")%></p>
          </div>
        </div>
  </div>
    <%end%>
  <%end%>
