<% joinedbookmark.each do |joined|%>
  <%= link_to user_path(joined.user) do%>
    <div class="container_participants_demo">
      <%if joined.user.photo.attached?%>
        <%= cl_image_tag joined.user.photo.key, class:"profile_picture_demo"%>
      <%else%>
        <%=image_tag "avatar.png",  class:"profile_picture_demo"%>
      <%end%>
      <div class= "description_participants_demo">
        <div><h6><%=joined.user.first_name%></h6></div>
        <div><p><%=joined.user.description%>.</p></div>
      </div>
    </div>
  <%end%>
<%end%>
