<%if current_user != nil%>
<h2>Your Bookmarked demonstrations below..</h1>
  <%@bookmark[0..4].each do |bookmark|%>
    <%= link_to demonstration_path(bookmark.demonstration) do%>
      <p class = "card"> The name is <%= bookmark.demonstration.title%> and start date is <%= bookmark.demonstration.start_time%>
    <%end%>
  <%end%>
<%end%>

<h2>Upcoming demonstrations below</h2>
  <% @demo[0..4].each do |demo|%>
    <%= link_to demonstration_path(demo) do%>
      <p class = "card"> The name is <%= demo.title%> and start date is <%= demo.start_time%>
    <%end%>
  <%end%>
