
<%@demonstration.each do |demo|%>
  <%= link_to demonstration_path(demo) do%>
    <%if demo.start_time > Time.now%>
      <p class = "card"> The name is <%= demo.title%> and start date is <%= demo.start_time.strftime("%A, %d %B %Y")%> </p>
    <%else%>
      <p class = "card"> The name of your demonstration was <%= demo.title%> and it ended on <%= demo.end_time.strftime("%A, %d %B %Y")%> </p>
    <%end%>
  <%end%>
<%end%>
