<h1>Hi, <%=@user.first_name%>👋</h1>
<p>
 <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key%>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier"%>
            <% end %>
</p>


<p>Your description is <%= @user.description%></p>




<%= link_to "edit profile", edit_user_registration_path%>

<h2>Joined demos</h2>
<%@bookmark.each do |bookmark|%>
    <%= link_to demonstration_path(bookmark.demonstration) do%>
    <div class="container_joined_demo">
      <div class= "description_joined_demo">
        <div>
        <h6><strong><%= bookmark.demonstration.location%></strong></h6>
        </div>
        <div>
        <p><%= bookmark.demonstration.title%></p>
        </div>
      </div>
    <div class="datetime">
      <div class="datestyle">
        <h5><strong> Dec 7</strong></h5>
        <p>12:00</p>
      </div>
    </div>
  </div>
<%end%>
<%end%>
