<h1>Hi, <%=@user.first_name%>👋</h1>
<p>
 <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key%>
            <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier"%>
            <% end %>
</p>


<p> <%= @user.description%></p>


<h1>Created demo's</h1>
<%@bookmark.each do |bookmark|%>
    <%= link_to demonstration_path(bookmark.demonstration) do%>
      <p class = "card"> The name is <%= bookmark.demonstration.title%> and start date is <%= bookmark.demonstration.start_time%>
<%end%>
<%end%>

<%= link_to "edit your profile", edit_user_registration_path%>

<h1>Joined demo's</h1>
</div>
<div>
    <div class="container_joined_demo">
      <div class= "description_joined_demo">
        <div>
        <h6><strong>Street</strong></h6>
        </div>
        <div>
        <p>This is the description of your component.</p>
        </div>
      </div>
    <div class="datetime">
      <div class="datestyle">
        <h5><strong> Dec 7</strong></h5>
        <p>12:00</p>
      </div>
    </div>
  </div>
