<!DOCTYPE html>
<html>
  <head>
    <title>YoungActivists</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.2.2/dist/css/tom-select.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="wrapper-everything">
      <%= render "shared/flashes" %>

      <div class="navbar-top">
        <div class="navbar-buttons">
          <% if params[:action] != "home"%>
            <%= link_to "javascript:history.back()", class: "back-button " do %>
            <i class="fa-solid fa-angles-left"></i>
              <%# <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/5/5b/Simpleicons_Interface_arrow-pointing-to-left-side.svg" %>
            <% end %>
          <% else %>
            <%= link_to "", class: "back-button"%>
          <% end %>
        </div>
          <div class="icon-and-location">
            <i class="fa-solid fa-location-dot"></i>
            <h3>  Berlin </h3>
          </div>
          <div class="login-button">
          <% if current_user.nil?  %>
            <%= link_to "Login", new_user_session_path %>
            <% end %>
          </div>
      </div>
      <div class="content">
        <%= yield %>
      </div>
    </div>
    <div class = "spacelol">
    </div>
    <div>
      <%= render "shared/navbar" %>
    </div>
  </body>
</html>
