<!DOCTYPE html>
<html>
  <head>
    <title>YoungActivists</title>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.11.0/mapbox-gl.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <div class="navbar-top">
        <% if params[:action] != "home"%>
          <%= link_to "javascript:history.back()", class: "navbar-brand" do %>
            <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/5/5b/Simpleicons_Interface_arrow-pointing-to-left-side.svg" %>
          <% end %>
        <% else %>
          <%= link_to "", class: "navbar-brand"%>
        <% end %>
         <h3 class="nav-location"> Berlin
         <i class="fa-solid fa-location-dot"></i> Berlin </h3>
    </div>
    <%= yield %>
    <%= render "shared/navbar" %>
  </body>
</html>
